html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}

html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea,optgroup{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}

html,body{
    font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.h-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.h-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.h-image{
    max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.h-table,.h-table-all{
    border-collapse:collapse;border-spacing:0;width:100%;display:table}
.h-table-all{border:1px solid #ccc}
.h-bordered tr,.h-table-all tr{
    border-bottom:1px solid #ddd}
.h-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.h-table-all tr:nth-child(odd){background-color:#fff}
.h-table-all tr:nth-child(even){background-color:#f1f1f1}
.h-hoverable tbody tr:hover,.h-ul.h-hoverable li:hover{background-color:#ccc}
.h-centered tr th,.h-centered tr td{text-align:center}
.h-table td,.h-table th,.h-table-all td,.h-table-all th{
    padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.h-table th:first-child,.h-table td:first-child,.h-table-all th:first-child,.h-table-all td:first-child{padding-left:16px}
.h-btn,.h-button{
    border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.h-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.h-btn,.h-button{
    -webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.h-disabled,.h-btn:disabled,.h-button:disabled{cursor:not-allowed;opacity:0.3}.h-disabled *,:disabled *{pointer-events:none}
.h-btn.h-disabled:hover,.h-btn:disabled:hover{box-shadow:none}
.h-badge,.h-tag{
    background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.h-badge{border-radius:50%}
.h-ul{list-style-type:none;padding:0;margin:0}.h-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.h-ul li:last-child{border-bottom:none}
.h-tooltip,.h-display-container{position:relative}.h-tooltip .h-text{display:none}.h-tooltip:hover .h-text{display:inline-block}
.h-ripple:active{opacity:0.5}.h-ripple{transition:opacity 0s}
.h-input{
    padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.h-select{
    padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.h-dropdown-click,.h-dropdown-hover{
    position:relative;display:inline-block;cursor:pointer}
.h-dropdown-hover:hover .h-dropdown-content{display:block}
.h-dropdown-hover:first-child,.h-dropdown-click:hover{
    background-color:#ccc;color:#000}
.h-dropdown-hover:hover > .h-button:first-child,.h-dropdown-click:hover > .h-button:first-child{background-color:#ccc;color:#000}
.h-dropdown-content{
    cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.h-check,.h-radio{
    width:24px;height:24px;position:relative;top:6px}
.h-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.h-bar-block .h-dropdown-hover,.h-bar-block .h-dropdown-click{width:100%}
.h-bar-block .h-dropdown-hover .h-dropdown-content,.h-bar-block .h-dropdown-click .h-dropdown-content{min-width:100%}
.h-bar-block .h-dropdown-hover .h-button,.h-bar-block .h-dropdown-click .h-button{width:100%;text-align:left;padding:8px 16px}
.h-main,#main{transition:margin-left .4s}
.h-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.h-modal-content{
    margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.h-bar{width:100%;overflow:hidden;height:4.2rem;}.h-center .h-bar{display:inline-block;width:auto;}
.h-bar .h-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.h-bar .h-dropdown-hover,.h-bar .h-dropdown-click{position:static;float:left}
.h-bar .h-button{white-space:normal}
.h-bar-block .h-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.h-bar-block.h-center .h-bar-item{text-align:center}.h-block{display:block;width:100%}
.h-responsive{display:block;overflow-x:auto}
.h-container:after,.h-container:before,.h-panel:after,.h-panel:before,.h-row:after,.h-row:before,.h-row-padding:after,.h-row-padding:before,
.h-cell-row:before,.h-cell-row:after,.h-clear:after,.h-clear:before,.h-bar:before,.h-bar:after{content:"";display:table;clear:both}
.h-col,.h-half,.h-third,.h-twothird,.h-threequarter,.h-quarter{float:left;width:100%}
.h-col.s1{width:8.33333%}.h-col.s2{width:16.66666%}.h-col.s3{width:24.99999%}.h-col.s4{width:33.33333%}
.h-col.s5{width:41.66666%}.h-col.s6{width:49.99999%}.h-col.s7{width:58.33333%}.h-col.s8{width:66.66666%}
.h-col.s9{width:74.99999%}.h-col.s10{width:83.33333%}.h-col.s11{width:91.66666%}.h-col.s12{width:99.99999%}
@media (min-width:601px){.h-col.m1{width:8.33333%}.h-col.m2{width:16.66666%}.h-col.m3,.h-quarter{width:24.99999%}.h-col.m4,.h-third{width:33.33333%}
.h-col.m5{width:41.66666%}.h-col.m6,.h-half{width:49.99999%}.h-col.m7{width:58.33333%}.h-col.m8,.h-twothird{width:66.66666%}
.h-col.m9,.h-threequarter{width:74.99999%}.h-col.m10{width:83.33333%}.h-col.m11{width:91.66666%}.h-col.m12{width:99.99999%}}
@media (min-width:993px){.h-col.l1{width:8.33333%}.h-col.l2{width:16.66666%}.h-col.l3{width:24.99999%}.h-col.l4{width:33.33333%}
.h-col.l5{width:41.66666%}.h-col.l6{width:49.99999%}.h-col.l7{width:58.33333%}.h-col.l8{width:66.66666%}
.h-col.l9{width:74.99999%}.h-col.l10{width:83.33333%}.h-col.l11{width:91.66666%}.h-col.l12{width:99.99999%}}
.h-rest{overflow:hidden}.h-stretch{margin-left:-16px;margin-right:-16px}
.h-content,.h-auto{margin-left:auto;margin-right:auto}.h-content{max-width:980px}.h-auto{max-width:1140px}
.h-cell-row{display:table;width:100%}.h-cell{display:table-cell}
.h-cell-top{vertical-align:top}.h-cell-middle{vertical-align:middle}.h-cell-bottom{vertical-align:bottom}
.h-hide{display:none!important}.h-show-block,.h-show{display:block!important}.h-show-inline-block{display:inline-block!important}
@media (max-width:1205px){.h-auto{max-width:95%}}
@media (max-width:600px){.h-modal-content{margin:0 10px;width:auto!important}.h-modal{padding-top:30px}
.h-dropdown-hover.h-mobile .h-dropdown-content,.h-dropdown-click.h-mobile .h-dropdown-content{position:relative}	
.h-hide-small{display:none!important}.h-mobile{display:block;width:100%!important}.h-bar-item.h-mobile,.h-dropdown-hover.h-mobile,.h-dropdown-click.h-mobile{text-align:center}
.h-dropdown-hover.h-mobile,.h-dropdown-hover.h-mobile .h-btn,.h-dropdown-hover.h-mobile .h-button,.h-dropdown-click.h-mobile,.h-dropdown-click.h-mobile .h-btn,.h-dropdown-click.h-mobile .h-button{width:100%}}
@media (max-width:768px){.h-modal-content{width:500px}.h-modal{padding-top:50px}}
@media (min-width:993px){.h-modal-content{width:900px}.h-hide-large{display:none!important}.h-sidebar.h-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.h-hide-medium{display:none!important}}
@media (max-width:992px){.h-sidebar.h-collapse{display:none}.h-main{margin-left:0!important;margin-right:0!important}.h-auto{max-width:100%}}
.h-top,.h-bottom{position:fixed;width:100%;z-index:1}.h-top{top:0}.h-bottom{bottom:0}
.h-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.h-display-topleft{position:absolute;left:0;top:0}.h-display-topright{position:absolute;right:0;top:0}
.h-display-bottomleft{position:absolute;left:0;bottom:0}.h-display-bottomright{position:absolute;right:0;bottom:0}
.h-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.h-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.h-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.h-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.h-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.h-display-container:hover .h-display-hover{display:block}.h-display-container:hover span.h-display-hover{display:inline-block}.h-display-hover{display:none}
.h-display-position{position:absolute}
.h-circle{border-radius:50%}
.h-round-small{border-radius:2px}.h-round,.h-round-medium{border-radius:4px}.h-round-large{border-radius:8px}.h-round-xlarge{border-radius:16px}.h-round-xxlarge{border-radius:32px}
.h-row-padding,.h-row-padding>.h-half,.h-row-padding>.h-third,.h-row-padding>.h-twothird,.h-row-padding>.h-threequarter,.h-row-padding>.h-quarter,.h-row-padding>.h-col{padding:0 8px}
.h-container,.h-panel{padding:0.01em 16px}.h-panel{margin-top:16px;margin-bottom:16px}
.h-code,.h-codespan{font-family:Consolas,"courier new";font-size:16px}
.h-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.h-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.h-card,.h-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.h-card-4,.h-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.h-spin{animation:h-spin 2s infinite linear}@keyframes h-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.h-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.h-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.h-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.h-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.h-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.h-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.h-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.h-animate-input{transition:width 0.4s ease-in-out}.h-animate-input:focus{width:100%!important}
.h-opacity,.h-hover-opacity:hover{opacity:0.60}.h-opacity-off,.h-hover-opacity-off:hover{opacity:1}
.h-opacity-max{opacity:0.25}.h-opacity-min{opacity:0.75}
.h-greyscale-max,.h-grayscale-max,.h-hover-greyscale:hover,.h-hover-grayscale:hover{filter:grayscale(100%)}
.h-greyscale,.h-grayscale{filter:grayscale(75%)}.h-greyscale-min,.h-grayscale-min{filter:grayscale(50%)}
.h-sepia{filter:sepia(75%)}.h-sepia-max,.h-hover-sepia:hover{filter:sepia(100%)}.h-sepia-min{filter:sepia(50%)}
.h-tiny{font-size:10px!important}.h-small{font-size:12px!important}.h-medium{font-size:15px!important}.h-large{font-size:18px!important}
.h-xlarge{font-size:24px!important}.h-xxlarge{font-size:36px!important}.h-xxxlarge{font-size:48px!important}.h-jumbo{font-size:64px!important}
.h-left-align{text-align:left!important}.h-right-align{text-align:right!important}.h-justify{text-align:justify!important}.h-center{text-align:center!important}
.h-border-0{border:0!important}.h-border{border:1px solid #ccc!important}
.h-border-top{border-top:1px solid #ccc!important}.h-border-bottom{border-bottom:1px solid #ccc!important}
.h-border-left{border-left:1px solid #ccc!important}.h-border-right{border-right:1px solid #ccc!important}
.h-topbar{border-top:6px solid #ccc!important}.h-bottombar{border-bottom:6px solid #ccc!important}
.h-leftbar{border-left:6px solid #ccc!important}.h-rightbar{border-right:6px solid #ccc!important}
.h-section,.h-code{margin-top:16px!important;margin-bottom:16px!important}
.h-margin{margin:16px!important}.h-margin-top{margin-top:16px!important}.h-margin-bottom{margin-bottom:16px!important}
.h-margin-left{margin-left:16px!important}.h-margin-right{margin-right:16px!important}
.h-padding-small{padding:4px 8px!important}.h-padding{padding:8px 16px!important}.h-padding-large{padding:12px 24px!important}
.h-padding-16{padding-top:16px!important;padding-bottom:16px!important}.h-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.h-padding-32{padding-top:32px!important;padding-bottom:32px!important}.h-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.h-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.h-left{float:left!important}.h-right{float:right!important}
.h-button:hover{color:#000!important;background-color:#ccc!important}
.h-transparent,.h-hover-none:hover{background-color:transparent!important}
.h-hover-none:hover{box-shadow:none!important}
/* Colors */
.h-amber,.h-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.h-aqua,.h-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.h-blue,.h-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.h-light-blue,.h-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.h-brown,.h-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.h-cyan,.h-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.h-blue-grey,.h-hover-blue-grey:hover,.h-blue-gray,.h-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.h-green,.h-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.h-light-green,.h-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.h-indigo,.h-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.h-khaki,.h-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.h-lime,.h-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.h-orange,.h-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.h-deep-orange,.h-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.h-pink,.h-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.h-purple,.h-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.h-deep-purple,.h-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.h-red,.h-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.h-sand,.h-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.h-teal,.h-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.h-yellow,.h-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.h-white,.h-hover-white:hover{color:#000!important;background-color:#fff!important}
.h-black,.h-hover-black:hover{color:#fff!important;background-color:#000!important}
.h-grey,.h-hover-grey:hover,.h-gray,.h-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.h-light-grey,.h-hover-light-grey:hover,.h-light-gray,.h-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.h-dark-grey,.h-hover-dark-grey:hover,.h-dark-gray,.h-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.h-pale-red,.h-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.h-pale-green,.h-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.h-pale-yellow,.h-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.h-pale-blue,.h-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.h-text-amber,.h-hover-text-amber:hover{color:#ffc107!important}
.h-text-aqua,.h-hover-text-aqua:hover{color:#00ffff!important}
.h-text-blue,.h-hover-text-blue:hover{color:#2196F3!important}
.h-text-light-blue,.h-hover-text-light-blue:hover{color:#87CEEB!important}
.h-text-brown,.h-hover-text-brown:hover{color:#795548!important}
.h-text-cyan,.h-hover-text-cyan:hover{color:#00bcd4!important}
.h-text-blue-grey,.h-hover-text-blue-grey:hover,.h-text-blue-gray,.h-hover-text-blue-gray:hover{color:#607d8b!important}
.h-text-green,.h-hover-text-green:hover{color:#4CAF50!important}
.h-text-light-green,.h-hover-text-light-green:hover{color:#8bc34a!important}
.h-text-indigo,.h-hover-text-indigo:hover{color:#3f51b5!important}
.h-text-khaki,.h-hover-text-khaki:hover{color:#b4aa50!important}
.h-text-lime,.h-hover-text-lime:hover{color:#cddc39!important}
.h-text-orange,.h-hover-text-orange:hover{color:#ff9800!important}
.h-text-deep-orange,.h-hover-text-deep-orange:hover{color:#ff5722!important}
.h-text-pink,.h-hover-text-pink:hover{color:#e91e63!important}
.h-text-purple,.h-hover-text-purple:hover{color:#9c27b0!important}
.h-text-deep-purple,.h-hover-text-deep-purple:hover{color:#673ab7!important}
.h-text-red,.h-hover-text-red:hover{color:#f44336!important}
.h-text-sand,.h-hover-text-sand:hover{color:#fdf5e6!important}
.h-text-teal,.h-hover-text-teal:hover{color:#009688!important}
.h-text-yellow,.h-hover-text-yellow:hover{color:#d2be0e!important}
.h-text-white,.h-hover-text-white:hover{color:#fff!important}
.h-text-black,.h-hover-text-black:hover{color:#000!important}
.h-text-grey,.h-hover-text-grey:hover,.h-text-gray,.h-hover-text-gray:hover{color:#757575!important}
.h-text-light-grey,.h-hover-text-light-grey:hover,.h-text-light-gray,.h-hover-text-light-gray:hover{color:#f1f1f1!important}
.h-text-dark-grey,.h-hover-text-dark-grey:hover,.h-text-dark-gray,.h-hover-text-dark-gray:hover{color:#3a3a3a!important}
.h-border-amber,.h-hover-border-amber:hover{border-color:#ffc107!important}
.h-border-aqua,.h-hover-border-aqua:hover{border-color:#00ffff!important}
.h-border-blue,.h-hover-border-blue:hover{border-color:#2196F3!important}
.h-border-light-blue,.h-hover-border-light-blue:hover{border-color:#87CEEB!important}
.h-border-brown,.h-hover-border-brown:hover{border-color:#795548!important}
.h-border-cyan,.h-hover-border-cyan:hover{border-color:#00bcd4!important}
.h-border-blue-grey,.h-hover-border-blue-grey:hover,.h-border-blue-gray,.h-hover-border-blue-gray:hover{border-color:#607d8b!important}
.h-border-green,.h-hover-border-green:hover{border-color:#4CAF50!important}
.h-border-light-green,.h-hover-border-light-green:hover{border-color:#8bc34a!important}
.h-border-indigo,.h-hover-border-indigo:hover{border-color:#3f51b5!important}
.h-border-khaki,.h-hover-border-khaki:hover{border-color:#f0e68c!important}
.h-border-lime,.h-hover-border-lime:hover{border-color:#cddc39!important}
.h-border-orange,.h-hover-border-orange:hover{border-color:#ff9800!important}
.h-border-deep-orange,.h-hover-border-deep-orange:hover{border-color:#ff5722!important}
.h-border-pink,.h-hover-border-pink:hover{border-color:#e91e63!important}
.h-border-purple,.h-hover-border-purple:hover{border-color:#9c27b0!important}
.h-border-deep-purple,.h-hover-border-deep-purple:hover{border-color:#673ab7!important}
.h-border-red,.h-hover-border-red:hover{border-color:#f44336!important}
.h-border-sand,.h-hover-border-sand:hover{border-color:#fdf5e6!important}
.h-border-teal,.h-hover-border-teal:hover{border-color:#009688!important}
.h-border-yellow,.h-hover-border-yellow:hover{border-color:#ffeb3b!important}
.h-border-white,.h-hover-border-white:hover{border-color:#fff!important}
.h-border-black,.h-hover-border-black:hover{border-color:#000!important}
.h-border-grey,.h-hover-border-grey:hover,.h-border-gray,.h-hover-border-gray:hover{border-color:#9e9e9e!important}
.h-border-light-grey,.h-hover-border-light-grey:hover,.h-border-light-gray,.h-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.h-border-dark-grey,.h-hover-border-dark-grey:hover,.h-border-dark-gray,.h-hover-border-dark-gray:hover{border-color:#616161!important}
.h-border-pale-red,.h-hover-border-pale-red:hover{border-color:#ffe7e7!important}.h-border-pale-green,.h-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.h-border-pale-yellow,.h-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.h-border-pale-blue,.h-hover-border-pale-blue:hover{border-color:#e7ffff!important}
.logo{
    position: fixed;
    width:11rem;
    height:3.1rem;
    padding:0rem;
}
.about-container
{
	width: 1280px;
	margin: 70px auto 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

}
.about-container .about-box
{
	position: relative;
	width: 300px;
	height:300px;
	background: transparent;
	margin: 5px;
	box-sizing: border-box;
	display: inline-block; 
}
.about-container .about-box .about-imgBox
{
	position: relative;
	overflow: hidden;
}
.about-container .about-box  .about-imgBox img
{
	max-width: 100%;
	transition: transform  2s ;
}
.about-container .about-box:hover  .about-imgBox img
{
	transform: scale(1,2);
}
.about-container  .about-box  .about-details
{
	position: absolute;
	top: 10px;
	left: 5px;
	bottom: 10px;
	right: 10px;
	background: rgba(0,0,0,.8);
	transform: scaleY(0);
	transition: transform .5s;
}
.about-container  .about-box:hover  .about-details
{
	transform: scaleY(1);
}

.about-container  .about-box  .about-details  .about-content
{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: justify;
	padding: 15px;
	color: #fff;
}
.about-container .about-box  .about-details  .about-content h2
{
	margin: 0;
	padding: 0;
	font-size: 20px;
	color: #ff0;
}
.about-container .about-box  .about-details  .about-content p
{
	margin: 10px 0 0;
	padding: 0;
}
